

body{
    background-color: rgb(79, 83, 94);
    width: 100%;
}

header {
    background-color:rgb(60, 67, 86);
    height: 100px;
    width: 100%;
   
}

.container{
   width: 100%;
    
    text-align: center;
    
}


.boxl{
    width: 33%;
    height: 650px;
    
    float:left;
    
}

.boxm{
    width: 33%;
    height: 650px;
    text-align: center;
    
    float:left;
  
}

.boxr{
    width: 33%;
    height: 650px;
   
    float:right;

}

footer{
    background-color:rgb(36, 174, 193);
    width:100%;
    height:500px
;
float: none;

}


li {
    display: inline;
}

.picture1  {
margin-left: 5%;
margin-top: -5%;
}

   
li {
    float: right;
 
  }
  
 
  li a {
    display: inline-block;    
    color: rgb(233, 225, 237); 
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    
  }